.movies {
    display : flex;
    flex-wrap: wrap;
    margin: 50px 250px 250px 250px;
    font-family: 'Times New Roman', Times, serif;
    
}

.movieList{

font-family: 'Times New Roman', Times, serif;}